@{
  Layout = "_Layout";
}
@model Capstone.Models.Employee

<h4>Add a new Employee</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <input type="submit" value="Add new Employee" />
}
<p>@Html.ActionLink("Show all employees", "Index")</p>